doctype html
head
  meta(charset='UTF-8')
  title= title
  link(rel='stylesheet', href='//fonts.googleapis.com/css?family=Open+Sans')
  link(rel='stylesheet', href='/css/style.css')
body
  block content
    != html