doctype html
head
  meta(charset='UTF-8')
  title Isomorphic Lab
  link(rel='stylesheet', href='/css/style.css')
body
  div#app
    != html
  script window.__DATA__ = !{data}
  script(src='/js/app.js')